<div class="container container--home-about">
  <h2 class="section-heading">{{ include.title | default: 'About us' }}</h2>
    <div class="home-about--wrapper">
      <div class="home-about--item">
        <h3 class="home-about--item--header">Reason one</h3>
        <p class="home-about--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium hic accusamus!</p>
      </div>
      <div class="home-about--item">
        <h3 class="home-about--item--header">Reason two</h3>
        <p class="home-about--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium hic accusamus!</p>
      </div>
      <div class="home-about--item">
        <h3 class="home-about--item--header">Reason three</h3>
        <p class="home-about--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium hic accusamus!</p>
      </div>
    </div>
</div>